* {
    margin: 0;
    padding: 0;
}

body {
    font: 14px "Century Gothic", Futura, sans-serif;
}

ol,
ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
    font-size: 2.5rem;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    -webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 50px;
    font-weight: bold;
    line-height: 100px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.game-info {
    margin-left: 20px;
    font-size: 1.3rem;
}

.time-btn {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

.time-btn:hover {
    text-decoration: underline;
}
